body {
	background-color: #ffffff;
	font-family: gotham, helvetica, sans-serif;
	font-weight: lighter;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

h1 {
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 4px;
	font-size: 30px;
}

h2 {
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
	font-size: 20px;
}

p {
	font-size: 14px;
	color: #000000;
	margin-top: 20px;
	line-height: 180%;
}

a { 
	color: #000000;
	font-weight: 500;
	line-height: 60%;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}